
<%- include('../partials/header.ejs') %>

    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <%- include('../partials/nav.ejs') %>

                <!-------------------- HEADER MENUS -------------------->   
                <%- include('../partials/menu.ejs') %>

                <!-------------------- CONTENTS START --------------------> 
                <div class="post-container">
                    <form id="post-form" enctype="multipart/form-data">
                        <textarea name="text" class="post-textbox" placeholder="Write something..."></textarea>
                
                        <!-- Hidden file inputs -->
                        <input type="file" id="image-input" name="media" accept="image/*,video/*" style="display: none;">
                        <input type="file" id="document-input" name="document" accept=".pdf,.doc,.docx,.txt" style="display: none;">
                
                        <!-- Preview area -->
                        <div id="preview-container"></div>
                
                        <div class="post-options">
                            <button type="button" class="post-option-button" id="add-image-button">
                                <img src="../img/image.png" alt="Add Image" class="option-icon">
                            </button>
                            <button type="button" class="post-option-button" id="add-document-button">
                                <img src="../img/document.png" alt="Add Document" class="option-icon">
                            </button>
                            <button type="submit" class="post-button">Post</button>
                        </div>
                    </form>
                </div>

                <!-- Modal for post confirmation -->
                <div id="loginPopup" class="modal" style="display:none;">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <p>Please sign in to continue.</p>
                        <a href="/LogIn?redirect=<%= encodeURIComponent(currentPath) %>" id="login-link">
                            <button type="submit">Log In</button>
                        </a>
                    </div>
                </div>

                <div id="posts-container">
                    <!-- Posts will be displayed here -->
                </div>

            </div>
        </div>

        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
        
        <script src="js/2-user/home.js"></script>

    </div>
</body>
</html>
