<%- include('../partials/header.ejs') %>

<div class="page-container">
    <div class="content-wrap">
        <div class="container">
            <%- include('../partials/nav.ejs') %>
            <%- include('../partials/menu.ejs') %>

            <!-- Button with authentication status as data attribute -->
            <button type="button" id="postButton" data-authenticated="<%= !!user %>">Post</button>



            <!-- Modal for login prompt -->
            <div id="loginPopup" class="modal" style="display:none;">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <p>Please sign in to continue.</p>
                    <a href="/LogIn?redirect=<%= encodeURIComponent(currentPath) %>" id="login-link">
                        <button type="submit">Log In</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-------------------- FOOTER -------------------->
    <%- include('../partials/footer.ejs') %>
</div>

<script src="js/2-user/forum.js"></script>



</body>
</html>
