<%- include('../partials/header.ejs') %>
<body data-user-id="<%= user._id %>">
    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <%- include('../partials/nav.ejs') %>

                <!-------------------- HEADER MENUS -------------------->   
                <%- include('../partials/menu.ejs') %>

                <!-------------------- CONTENTS START -------------------->
                <div class="chat-container">
                    <!-- Sidebar -->
                    <div class="chat-sidebar">
                        <h4>Start New Chat</h4>
                        <form action="/chat/new" method="POST">
                            <select name="userId" required>
                                <% users.forEach(u => { %>
                                    <option value="<%= u._id %>"><%= u.username %> (<%= u.roles %>)</option>
                                <% }) %>
                            </select>
                            <button type="submit">Start Chat</button>
                        </form>

                        <h2>Inbox</h2>
                        <% chats.forEach(chat => { %>
                            <div class="chat-room" data-id="<%= chat._id %>">
                                <% if (chat.isGroupChat) { %>
                                    <%= chat.groupName %>
                                <% } else { %>
                                    <%= chat.users.find(u => u._id.toString() !== user._id.toString())?.username %>
                                <% } %>
                            </div>
                        <% }) %>

                    </div>
    
                    <!-- Chat Area -->
                    <div class="chat-area">
                        <div id="messages">
                            <!-- Messages will be populated here dynamically -->
                        </div>
    
                        <!-- Message Form -->
                        <form id="message-form">
                            <input id="message-input" type="text" placeholder="Type your message..."/>
                            <button type="submit">Send</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-------------------- FOOTER -------------------->
        <%- include('../partials/footer.ejs') %>
        
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/1-admin/chat.js"></script>
</body>
</html>
